.title {
  display: flex;
  justify-content: center;
}

.sectionsResults {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 30px;
}
